
/*
input[type="button"], input[type="submit"] { 
  background-color: #04AA6D;

  color:#1B0C1A; 
  font: bold 84% 'trebuchet ms',helvetica,sans-serif; 
  border:1px solid; 
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

form {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	margin : auto ;
	padding : 10px;
  border : 2px solid #664e37 ;
  background-color: #efe4DC;
}

input {
  background-color: beige;
  color: black;
}

.formMessage {
  text-align: center;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
	margin : auto ;
	padding : 30px;
  border : 5px solid black ;
}

form label {
	text-align: left;
}

a:link {
  color:  #725a48;
  background-color: #d1a481;
  text-decoration: none;
}

span {
  color: #526006;
}

.header_part {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	text-align: center ;
}

.main_page {
  overflow-y: auto;
}

.forum-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr; /* Ratio 1:3:1 */
  gap: 20px; /* Espacement entre les éléments */
}

.message {
  border:5px  #526006;
  border-style:  inset;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #efe4dc;
}

.message h3 {
  margin-top: 0;
}

.message p {
  margin-bottom: 10px;
}

.message > div {
  color: #999; /* Couleur grise pour le texte username et date */
  font-size: 0.9em;
}

.message > div span:first-child {
  margin-right: 10px;
}

.no-bullets {
  list-style-type: none;
}

.replies {
  display: grid;
  /*grid-template-columns: 1fr 3fr 1fr;*/
  gap: 10px;
  
}

.reply {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #efe4dc;

}

.reply p {
  margin-bottom: 10px;
}

.reply > div {
  color: #999;
  font-size: 0.9em;
}

.nested-replies {
  margin-top: 20px; /* Espacement entre les réponses imbriquées */
}


#profile_pic {
  width:200px;
  }


.post-it {
  padding: 6%;
  background-color: #CBC3E3;
  box-shadow: 3px 4px 6px #444;
  -moz-box-shadow: 3px 4px 6px #444;
  -webkit-box-shadow: 3px 4px 6px #444;
  transform: rotate(3deg);
  -moz-transform: rotate(-3deg);
  -webkit-transform: rotate(3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(3deg);
  border-bottom-right-radius: 60px 10px;
  }